*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    
    border-radius: 8px;
    background: #E55473;
    border: none;
    color:#FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding:  20px 43px;
   
}

header{
    background-color:#E554731A;
}

.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-content{
    max-width: 600px;
}

.banner .banner-image{
    width: 500px;
    margin-right: 120px;
}

.banner-greetings{
    color: #272727;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

.section-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 120px 400px;
    margin-bottom: 20px;
    

}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 500px;
    margin-bottom: 30px;
}

.featured-flower-container{
    display: flex;
    margin: 0px 240px;
    padding: 10px;
    text-align: center;
    justify-content: center;

}

.featured-flower-image1{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 20px;
    padding: 10px;
}

.featured-flower-image2{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background:#0597A026;
    margin-right: 20px;
    padding: 10px;
}

.featured-flower-image3{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background:#477D1126;
    margin-right: 20px;
    padding: 10px;
}

.offer{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content:space-evenly;
    background-color: #E554731A;
    margin-top: 120px;
}

.offer-content{
    max-width: 600px;
    text-align: center;
    padding: auto;
    margin-right: 40px;
}

.offer .offer-image{
    width: 300px;
    margin-right: 100px;
    padding: 50px;
    
}

.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}

.offer-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

#bold{
    color: #E55473;
}


.ig-flower-container{
    display: flex;
    margin: 0px 240px;
    padding: 10px;
    text-align: center;
    justify-content: center;

}

.ig-flower-image{
    width: 250px;
    height: 270px;
    margin-right: 20px;
    padding: 5px;
}

.subscription{
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin: 100px 130px;
    
}

.sub-content{
    padding: 5px 0px 120px 0px;
   
}
.entry{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.mailbox{
    border-radius: 8px;
background: #FFF;
width: 600px;
height: 55px;
margin-right: 20px;
padding-left: 20px;
border: none;

}

footer{
    background-color: #111010;
}

.footer-content{
    text-align: center;
    color: #FFFFFF66;
    padding: 80px 450px;
}

.footer-title{
color:white;
font-size: 40px;
font-weight: 800;
margin-bottom: 20px;
}

.footer-decsription{
color: #FFFFFFE5;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}

